body {
    margin: 0px;
    background-color: rgb(51,167,181);
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

header span {
    margin: 10px 30px 10px 30px;
    color: black;
    font-family: "Audiowide", sans-serif;
    font-size: 11px;
    border-style: dashed;
    padding: 2px 5px;
}

nav {
    display: flex;
    background-color: black;
    margin: 50px 0px;
    justify-content: space-around;
    padding: 20px;
}

nav a {
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    border-style: solid;
}

main {
    margin: 0px;
    padding: 20px 0px;
}

#welcome {
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding:0px;
    text-decoration: underline;
    text-shadow: 2px 1px black;
}

main p {
    color: rgb(255,206,236);
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    margin: 40px 0px;
    text-align: justify;
    padding: 0px 50px;
}

#second {
    text-align: center;
    color: white;
    text-shadow: none;
    border-style: dashed;
    border-width: 2px;
    padding: 20px 0px;
    margin-left: 50px;
    margin-right: 50px;
}

#images {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

main img {
    margin: 0px;
    padding: 0px;
    width: 280px;
    border-style: solid;
    border-color: white;
}

main figcaption {
    text-align: center;
    color: white;
    background-color: black;
    border-style: solid;
    border-color: white;
    font-family: "Audiowide", sans-serif;
    padding: 10px;
    margin: 0px;
    width: 260px;
}

footer {
    display: flex;
    margin: 70px 0px;
    justify-content: center;
}

footer button {
    margin: 0px 150px;
    padding: 15px 20px;
    font-family: "Audiowide", sans-serif;
    background-color: black;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

